.admin-dashboard {
  background-color: $blue-900;
  color: $white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    text-align: center;
    color: $white;
    padding: 16px;
    margin-bottom: 0;
  }
  a {
    color: $white;
  }

  .list-item {
    gap: 16px;
  }

  .MuiButtonBase-root {
    .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
      color: $white;
    }
    &:hover {
      background-color: $blue-800;
    }
    &.Mui-selected {
      background-color: $blue-600;
    }
    &.Mui-selected:hover {
      background-color: $blue-600;
    }
  }
}
