.primary-content-block {
  margin-bottom: 36px;
}

.primary-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 48px;
  font-family: 'Lato', 'LXGW WenKai Mono TC';
}

.logo-text {
  font-family: 'Alex Brush', serif;
}

.primary-cover {
  background-image: url(https://storage.googleapis.com/vue-course-api.appspot.com/olive-branch/1739975484194.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=GeoXKX9YXmOUYfFONcpcEUiqzirE9cQmxs8FsXmMOvSfIF7vZU8sTzlOq%2BMtRAvb%2BveJ1bGCwzh4vHXqfpT847JoE7kJuMvpLCs3o33ONMJSP1n3Or6%2F5%2B2JnvsMEKXmtIeEX8TfR97kXzoEfP10rkQaPwrQPbEuNq0L0uaH1rhoWcivs5krlZZtOAoA3FmQnfjsnJX5QMJGFUZvfX5T2%2Fe2T54Ku215hZ%2FhmzF9FcI%2BYh6nBSEvjRdTY74eMF3Jw5%2BAYqR9vf0j0A5PU5c%2FpiGQNTzsduUuRU88P0BB7Ag75D3gJdNsdlV2UwdncIAMA386DLulwFp5%2BaPpOKTTZA%3D%3D);
  background-position: center;
  background-size: cover;
  height: 800px;
}

.primary-text-mobile {
  display: none;
}

.secondary-content-items {
  display: grid;
  gap: 32px;
  padding: 36px 0;
}

.secondary-content-items li {
  display: flex;
  padding: 0;
}

.secondary-content-items img {
  padding: 0 48px;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
}

.secondary-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 48px;
  font-family: 'Lato', 'LXGW WenKai Mono TC';
}

li.flex-row-reverse .secondary-text {
  padding: 0 48px;
}

li.flex-md-row-reverse img {
  padding-left: 0;
}

.block-title {
  text-align: center;
  padding: 36px;
  margin-bottom: 0;
  font-family: 'Lato', 'LXGW WenKai Mono TC';
}

.top-product-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 36px;
  gap: 24px;
}

.top-product-item {
  .top-image-item {
    max-width: 430px;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    -o-object-fit: cover;
  }

  .top-info-item {
    padding: 8px;
    width: 100%;
    h3.font-zh-h3 {
      margin-bottom: 8px;
      padding-top: 8px;
      display: -webkit-box;
      overflow: hidden;
      line-clamp: 1;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
}

@media (max-width: 767px) {
  .primary-text {
    display: none;
  }

  .primary-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .mask {
    background: $brown-900;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0.8;
  }

  .primary-text-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 0 48px;
    text-shadow: 0 0 24px $gray-900;
    font-family: 'Lato', 'LXGW WenKai Mono TC';
  }

  .primary-text-mobile h2,
  .primary-text-mobile h4,
  .primary-text-mobile p {
    color: $white;
  }

  .primary-text-mobile h2 {
    font-size: 48px;
  }

  .primary-text-mobile h4 {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .secondary-content-items li {
    flex-direction: column;
    gap: 48px;
  }

  .secondary-content-items li.flex-md-row-reverse img {
    padding-left: 48px;
  }
}

@media (max-width: 767px) {
  .top-product-items {
    flex-direction: column;
  }
  .top-product-item {
    .top-image-item {
      max-width: 100%;
    }
  }
}
