.login-layout {
  background-image: url(https://storage.googleapis.com/vue-course-api.appspot.com/olive-branch/1739268106294.jpg);
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    margin-bottom: 48px;
  }
}
