.product-detail-container {
  padding-bottom: 28px;
}

.detail-item {
  padding: 24px;
  background-color: #f5f5f5;
}

.product-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    display: inline-flex;
    padding: 0;
    border: none;
    background: none;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    &.hvr-glow:focus,
    &.hvr-grow-shadow:focus {
      transform: none;
      box-shadow: none;
    }
  }
}

.my-swal-image {
  margin: 0;
}
.my-swal-popup {
  padding: 0;
}

@media (max-width: 991px) {
  .product-image {
    padding: 0;
  }
}

@media (max-width: 575px) {
  .page-title {
    margin-bottom: 0;
  }
  .product-detail-container {
    background-color: #f5f5f5;
  }
  .hvr-glow:hover {
    box-shadow: none;
  }
}
