// bootstrap
@import 'bootstrap/dist/css/bootstrap.min.css';
// helpers
@import './scss/helpers/variables';
@import './scss/helpers/mixins';
// components
@import './scss/components/button';
@import './scss/components/card';
@import './scss/components/modal';
@import './scss/components/spinners';

body {
  background-color: #edf2fc;
}

header {
  background-color: #ffffff;
}

.text-main {
  color: #1583b1;
}

.layout {
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav li {
  transition: 0.3s all;
  &:hover {
    opacity: 0.7;
  }
}

.table {
  vertical-align: middle;
}

.object-fit {
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
}

.form-input-group {
  display: grid;
  gap: 12px;
  margin-bottom: 16px;
}

.text-field-group,
.products-table {
  display: grid;
  gap: 12px;
}

.image-size {
  height: 200px;
}

.image-group {
  gap: 12px;
}
