.MuiTextField-root {
  .MuiInputLabel-root {
    font-size: 16px;
  }
  .MuiInputBase-root input,
  .MuiInputBase-multiline {
    padding: 16px 14px;
  }
}

.MuiFormControlLabel-root {
  .MuiCheckbox-root.Mui-checked {
    color: $main;
  }
}
.form-input-group {
  display: grid;
  gap: 12px;
  margin-bottom: 16px;
}

.text-field-group,
.products-table {
  display: grid;
  gap: 12px;
}
