.modal-header,
.modal-footer {
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
}

.modal-content {
  padding: 24px 0;
  background-color: $gray-200;
}

.preview-image {
  width: 300px;
  height: 300px;
}

.sub-images {
  width: 100%;
  aspect-ratio: 1 / 1;
  -o-object-fit: cover;
  object-fit: cover;
}

.no-image-icon.MuiSvgIcon-colorDisabled {
  font-size: 300px;
}

.no-image-icon.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
  color: $gray-400;
}
