.nav li {
  transition: 0.3s all;
  &:hover {
    opacity: 0.7;
  }
}

.page-bar {
  display: flex;
  gap: 8px;
}

.menu-bar {
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
  background-color: #dfeaed;
  padding: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.menu-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
  .navbar-list a {
    padding: 18px 16px;
    width: 110px;
    text-align: center;
  }
}

.MuiBadge-badge.MuiBadge-colorPrimary {
  background-color: $gray-300;
}
