.table {
  vertical-align: middle;
  min-width: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  td p {
    margin: 0;
  }
}

.cart-table {
  text-align: center;
  .cart-image {
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
