.MuiSnackbar-root {
  .MuiSnackbarContent-root {
    box-shadow: 0px 0px 32px 0px rgba(100, 100, 100, 0.5);
  }

  &.toast-success {
    .MuiSnackbarContent-root {
      color: #00623f;
      background-color: #ecfad0;
    }
  }

  &.toast-danger {
    .MuiSnackbarContent-root {
      color: #cd2745;
      background-color: #fef3ef;
    }
  }

  .MuiSnackbarContent-message {
    @include font(20px, 0.04em, 1.2);
  }
}
