.MuiSnackbar-root {
  .MuiSnackbarContent-root {
    box-shadow: 0px 0px 32px 0px rgba(100, 100, 100, 0.5);
  }

  &.toast-success {
    .MuiSnackbarContent-root {
      color: $success-200;
      background-color: $success-100;
      .toast-body .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
        color: $success-200;
      }
    }
  }

  &.toast-danger {
    .MuiSnackbarContent-root {
      color: $danger-200;
      background-color: $danger-100;
      .toast-body .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
        color: $danger-200;
      }
    }
  }

  .MuiSnackbarContent-action .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
    color: $gray-700;
  }

  .toast-body {
    display: flex;
    align-items: center;
    gap: 8px;
    .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
      color: $gray-700;
    }
  }

  .MuiSnackbarContent-message {
    @include font(18px, 0.04em, 1.2);
  }
}
