.layout {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-layout {
  padding-top: 98px;
  padding-bottom: 28px;
}

.login-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.object-fit {
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
}

.image-size {
  height: 200px;
}

.image-group {
  display: grid;
  gap: 12px;
  width: 100%;
}

.image-list {
  flex-wrap: wrap;
  gap: 24px 0;
}
