.layout {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-layout {
  padding-top: 98px;
  padding-bottom: 28px;
}

.login-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.admin-dashboard {
  background-color: #073757;
  color: $white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    text-align: center;
    color: $white;
    padding: 16px;
    margin-bottom: 0;
  }
  a {
    color: $white;
  }

  .list-item {
    gap: 16px;
  }

  .MuiButtonBase-root {
    .MuiListItemIcon-root {
      color: $white;
    }
    &:hover {
      background-color: #11435d;
    }
    &.Mui-selected {
      background-color: #1d77a3;
    }
    &.Mui-selected:hover {
      background-color: #1d77a3;
    }
  }
}

.object-fit {
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
}

.image-size {
  height: 200px;
}

.image-group {
  display: grid;
  gap: 12px;
  width: 100%;
}

.image-list {
  flex-wrap: wrap;
  gap: 24px 0;
}
