*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 0;
}

h2,
h3,
h4,
h5,
h6 {
  color: $gray-900;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: $gray-900;
}

p {
  margin-bottom: 16px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: 'Lato', 'Noto Sans TC', sans-serif, Helvetica, Arial;
  line-height: 1.5;
  overflow-x: hidden;
}

h1 {
  font-family: 'Alex Brush', serif;
}

header {
  background-color: #f2f6f8;
}

.container {
  padding-left: 12px;
  padding-right: 12px;
}

.row > * {
  padding-left: 12px;
  padding-right: 12px;
}

.my-swal-container {
  z-index: 99999 !important;
}

.w-8 {
  width: 8%;
}
.w-10 {
  width: 10%;
}
.w-12 {
  width: 12%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}

.text-color-gray-400 {
  color: $gray-400;
}
.text-color-gray-500 {
  color: $gray-500;
}
.text-color-gray-600 {
  color: $gray-600;
}
